.App {
  text-align: center;
}
*
{
  margin: 0%;
  padding: 0%;

}
body,html
{
  margin: 0%;
  padding: 0%;
}

.horizontalLine{
  margin: 0%;
  padding: 0%;
  color: #fd7e14;
  background-color: #fd7e14;
  height: 4px;
  width: 100%;
  border: none;
}